<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout('Читатели', ~{::main})}">
<body>
<th:block th:fragment="main">
    <h1 class="page-title">Читатели</h1>
    <ul class="card-list">
        <li th:each="person : ${people}">
            <a th:href="@{/people/{personId}(personId=${person.getPersonId()})}"
               th:text="${person.getName() + ', ' + person.getSurname()}">читатель</a>
        </li>
    </ul>
    <div class="actions">
        <a class="btn btn-primary" th:href="@{/people/new}">Добавить читателя</a>
    </div>
</th:block>
</body>
</html>
