<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show person</title>
</head>
<body>
<p th:text="${person.getName() + ', '+ person.getSurname()}">VALUE</p>
<p th:text="${'Email: ' + person.getEmail()}">VALUE</p>
<p th:text="${'Address: ' + person.getAddress()}">VALUE</p>
<p th:text="${'Date of birth: ' + person.getDateOfBirth()}">VALUE</p>
<p th:text="${person.getPersonId()}">VALUE</p>

<div th:if="${books.isEmpty()}">
    <p>Человек пока не взял ни одной книги</p>
    <hr/>
</div>

<div th:if="${!books.isEmpty()}">
    <hr/>
    <b>Книги:</b>
    <br/>
    <table th:each="book : ${books}">
        <tr th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearPublished()}">book</tr>
    </table>
    <hr/>
</div>

<form th:method="get" th:action="@{/people/{id}/edit(id=${person.getPersonId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="post" th:action="@{/people/{personId}(personId=${person.getPersonId()})}">
    <input type="hidden" name="_method" value="delete"/>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="submit" value="Delete"/>
</form>
</body>
</html>
